{% extends 'base.html' %}

{% block content %}
    <div class="container my-3">
        <h5 class="my-3 border-bottom pb-2">비밀번호 변경</h5>
        <form method="POST">
            {% csrf_token %}
            {% include 'form_errors.html' %}
            <ul>
                <li>다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</li>
                <li>비밀번호는 최소 8자 이상이어야 합니다.</li>
                <li>통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</li>
                <li>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
            </ul>
            <div class="form-group">
                <label for="old_password">기존 비밀번호</label>
                <input type="password" class="form-control" name="old_password" id="old_password" value="{{ form.old_password.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="new_password1">새 비밀번호</label>
                <input type="password" class="form-control" name="new_password1" id="new_password1" value="{{ form.new_password1.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="new_password2">새 비밀번호 확인</label>
                <input type="password" class="form-control" name="new_password2" id="new_password2" value="{{ form.new_password2.value|default_if_none:'' }}">
            </div>
            <button type="submit" class="btn btn-primary">비밀번호 변경</button>
        </form>
    </div>
{% endblock content %}