{% include 'profile.html' %}

{% block tap-content %}
<div class="container my-3">
    <div class="my-2">이름</div>
    <input type="text" disabled=True value="{{ user.username }}">
    <div class="my-2">이메일</div>
    <input type="text" disabled=True value="{{ user.email }}">
    {% if not is_social %}
    <div class="my-2">
        <a class="btn btn-outline-danger my-2" href="{% url 'common:change_password' %}" role="button">비밀번호 변경</a>
    </div>
    {% endif %}
</div>
{% endblock tap-content %}